In [3]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle

In [4]:
dataset= pd.read_csv('cleaned.csv')
cv = CountVectorizer(max_features=5000, stop_words='english')

dataset

,id,title,tags
0,19995,Avatar,samworthington zoesaldana sigourneyweav stephe...
1,285,Pirates of the Caribbean: At World's End,johnnydepp orlandobloom keiraknightley stellan...
2,206647,Spectre,danielcraig christophwaltz léaseydoux ralphfie...
3,49026,The Dark Knight Rises,christianbal michaelcain garyoldman annehathaw...
4,49529,John Carter,taylorkitsch lynncollin samanthamorton willemd...
...,...,...,...
4801,9367,El Mariachi,carlosgallardo jaimedehoyo petermarquardt rein...
4802,72766,Newlyweds,edwardburn kerrybishé marshadietlein caitlinfi...
4803,231617,"Signed, Sealed, Delivered",ericmabiu kristinbooth crystallow geoffgustafs...
4804,126186,Shanghai Calling,danielhenney elizacoup billpaxton alanruck dan...
4805,25975,My Date with Drew,drewbarrymor brianherzling coreyfeldman ericro...

In [31]:
dataset['tags'][1]

"johnnydepp orlandobloom keiraknightley stellanskarsgård dariuszwolski goreverbinski tedelliott terryrossio stephene.rivkin craigwood hanszimm ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting adventur fantasi action captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems."

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4806 entries, 0 to 4805
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4806 non-null   int64
 1   title   4806 non-null   object
 2   tags    4806 non-null   object
dtypes: int64(1), object(2)
memory usage: 112.8+ KB

In [6]:
vectors = cv.fit_transform(dataset['tags']).toarray()

In [32]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [44]:
dataset['title'][199]

'Pirates of the Caribbean: The Curse of the Black Pearl'

In [38]:
similarity = cosine_similarity(vectors)

In [42]:
#the similarity count of one movie with other movies of the dataset 
sorted(list(enumerate(similarity[1])), reverse=True, key= lambda x:x[1])[1:7]

[(12, 0.5205792062953537),
 (199, 0.35992802159280257),
 (17, 0.2965506497608511),
 (1192, 0.1874085142663273),
 (3570, 0.1874085142663273),
 (216, 0.18376916754950667)]

In [45]:
dataset['title'][1411]

'J. Edgar'

In [47]:
def recommend(movie):
    movie_index = dataset[dataset['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(dataset.iloc[i[0]].title)

In [48]:
recommend('Deadpool')

Ant-Man
Iron Man 2
MacGruber
The Animal
The Amazing Spider-Man

In [14]:
pickle.dump(dataset,open('movies.pkl','wb'))

In [15]:
pickle.dump(similarity,open('similarity.pkl','wb'))